In [1]:
# ps-34
%pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.3.tar.gz (317.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.3/317.3 MB 4.2 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.3-py2.py3-none-any.whl size=317840625 sha256=2413a9be099a844db5b5fb1d7628ae4e7e1ee171b7751da1fd1ca5f1641c191d
  Stored in directory: /root/.cache/pip/wheels/1b/3a/92/28b93e2fbfdbb07509ca4d6f50c5e407f48dce4ddbda69a4ab
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.3

𝐇𝐢𝐬𝐭𝐨𝐠𝐫𝐚𝐦 𝐨𝐟 𝐓𝐰𝐞𝐞𝐭𝐬

 write a pyspark code to obtain a histogram of tweets posted per user in 2022.
Output the tweet count per user as the bucket and the number of Twitter users who fall into that bucket.In other words,
 group the users by the number of tweets they posted in 2022 and count the number of users in each group.


𝐒𝐜𝐡𝐞𝐦𝐚 𝐀𝐧𝐝 𝐃𝐚𝐭𝐚:
================

# Define the schema for the tweets DataFrame
schema = StructType([
StructField("tweet_id", IntegerType(), True),
StructField("user_id", IntegerType(), True),
StructField("msg", StringType(), True),
StructField("tweet_date", StringType(), True)
])

# Create the tweets DataFrame
data = [
(214252, 111, 'Am considering taking Tesla private at $420. Funding secured.', '2021-12-30 00:00:00'),
(739252, 111, 'Despite the constant negative press covfefe', '2022-01-01 00:00:00'),
(846402, 111, 'Following @NickSinghTech on Twitter changed my life!', '2022-02-14 00:00:00'),
(241425, 254, 'If the salary is so competitive why won’t you tell me what it is?', '2022-03-01 00:00:00'),
(231574, 148, 'I no longer have a manager. I can\'t be managed', '2022-03-23 00:00:00')
]

In [2]:
# import all necessary module
from pyspark.sql import *
from pyspark.sql.types import *
from pyspark.sql.functions import *

In [3]:
# create spark session
spark = SparkSession.builder.master('local').appName('pyspark-day-22').getOrCreate()
spark

In [4]:
# # Define the schema for the tweets DataFrame
schema = StructType([
StructField("tweet_id", IntegerType(), True),
StructField("user_id", IntegerType(), True),
StructField("msg", StringType(), True),
StructField("tweet_date", StringType(), True)
])

# Create the tweets DataFrame
data = [
(214252, 111, 'Am considering taking Tesla private at $420. Funding secured.', '2021-12-30 00:00:00'),
(739252, 111, 'Despite the constant negative press covfefe', '2022-01-01 00:00:00'),
(846402, 111, 'Following @NickSinghTech on Twitter changed my life!', '2022-02-14 00:00:00'),
(241425, 254, 'If the salary is so competitive why won’t you tell me what it is?', '2022-03-01 00:00:00'),
(231574, 148, 'I no longer have a manager. I can\'t be managed', '2022-03-23 00:00:00')
]

In [5]:
# create df
tweet = spark.createDataFrame(schema = schema, data = data)
tweet.show()

+--------+-------+--------------------+-------------------+
|tweet_id|user_id|                 msg|         tweet_date|
+--------+-------+--------------------+-------------------+
|  214252|    111|Am considering ta...|2021-12-30 00:00:00|
|  739252|    111|Despite the const...|2022-01-01 00:00:00|
|  846402|    111|Following @NickSi...|2022-02-14 00:00:00|
|  241425|    254|If the salary is ...|2022-03-01 00:00:00|
|  231574|    148|I no longer have ...|2022-03-23 00:00:00|
+--------+-------+--------------------+-------------------+

In [7]:
tweet_2022 = tweet.filter(col('tweet_date').like('2022-%'))
tweet_2022.show()

+--------+-------+--------------------+-------------------+
|tweet_id|user_id|                 msg|         tweet_date|
+--------+-------+--------------------+-------------------+
|  739252|    111|Despite the const...|2022-01-01 00:00:00|
|  846402|    111|Following @NickSi...|2022-02-14 00:00:00|
|  241425|    254|If the salary is ...|2022-03-01 00:00:00|
|  231574|    148|I no longer have ...|2022-03-23 00:00:00|
+--------+-------+--------------------+-------------------+

In [10]:
tweet_bucket = tweet_2022.groupBy('user_id').agg(count('user_id').alias('bucket'))
tweet_bucket.show()

+-------+------+
|user_id|bucket|
+-------+------+
|    148|     1|
|    111|     2|
|    254|     1|
+-------+------+

In [11]:
tweet_bucket.groupBy('bucket').agg(count('bucket').alias('user_num')).show()

+------+--------+
|bucket|user_num|
+------+--------+
|     1|       2|
|     2|       1|
+------+--------+