In [1]:
# ps-21
%pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.3.tar.gz (317.3 MB)
     â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 317.3/317.3 MB 4.4 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.3-py2.py3-none-any.whl size=317840625 sha256=e60f969f5bebc690f629f484addbcd3072eac6276efe22b53e7d9a8db23c1993
  Stored in directory: /root/.cache/pip/wheels/1b/3a/92/28b93e2fbfdbb07509ca4d6f50c5e407f48dce4ddbda69a4ab
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.3

In [2]:
# import all necessary module
from pyspark.sql import *
from pyspark.sql.types import *
from pyspark.sql.functions import *

In [3]:
# create spark session
spark = SparkSession.builder.master('local').appName('pyspark-day-34').getOrCreate()
spark

ğ˜ğ¨ğ®ğ« ğ¦ğ¢ğ¬ğ¬ğ¢ğ¨ğ§, ğ¬ğ¡ğ¨ğ®ğ¥ğ ğ²ğ¨ğ® ğœğ¡ğ¨ğ¨ğ¬ğ ğ­ğ¨ ğšğœğœğğ©ğ­ ğ¢ğ­, ğ¢ğ¬ ğ­ğ¨ ğ¬ğ¡ğ¨ğ°ğœğšğ¬ğ ğ²ğ¨ğ®ğ« ğğ˜ğ’ğğ€ğ‘ğŠ ğ©ğ«ğ¨ğ°ğğ¬ğ¬ ğ°ğ¢ğ­ğ¡ ğ­ğ¡ğ ğŸğ¨ğ¥ğ¥ğ¨ğ°ğ¢ğ§ğ  ğ­ğšğ¬ğ¤ğ¬:

1ï¸âƒ£ Get only Year part of "JoiningDate"
2ï¸âƒ£ Get only Month part of "JoiningDate".
3ï¸âƒ£ Get only date part of "JoiningDate".
4ï¸âƒ£Get the current system date using DataFrame API
5ï¸âƒ£Get the current UTC date and time using DataFrame API

 ================================
ğ’ğœğ¡ğğ¦ğš ğ€ğ§ğ ğƒğšğ­ğš:
================================

data = [
 [1, "Vikas", "Ahlawat", 600000.0, "2013-02-15 11:16:28.290", "IT", "Male"],
 [2, "nikita", "Jain", 530000.0, "2014-01-09 17:31:07.793", "HR", "Female"],
 [3, "Ashish", "Kumar", 1000000.0, "2014-01-09 10:05:07.793", "IT", "Male"],
 [4, "Nikhil", "Sharma", 480000.0, "2014-01-09 09:00:07.793", "HR", "Male"],
 [5, "anish", "kadian", 500000.0, "2014-01-09 09:31:07.793", "Payroll", "Male"],
]

schema = StructType([
 StructField("EmployeeID", IntegerType(), True),
 StructField("First_Name", StringType(), True),
 StructField("Last_Name", StringType(), True),
 StructField("Salary", DoubleType(), True),
 StructField("Joining_Date", StringType(), True),
 StructField("Department", StringType(), True),
 StructField("Gender", StringType(), True)
])

In [4]:
data = [
 [1, "Vikas", "Ahlawat", 600000.0, "2013-02-15 11:16:28.290", "IT", "Male"],
 [2, "nikita", "Jain", 530000.0, "2014-01-09 17:31:07.793", "HR", "Female"],
 [3, "Ashish", "Kumar", 1000000.0, "2014-01-09 10:05:07.793", "IT", "Male"],
 [4, "Nikhil", "Sharma", 480000.0, "2014-01-09 09:00:07.793", "HR", "Male"],
 [5, "anish", "kadian", 500000.0, "2014-01-09 09:31:07.793", "Payroll", "Male"],
]

schema = StructType([
 StructField("EmployeeID", IntegerType(), True),
 StructField("First_Name", StringType(), True),
 StructField("Last_Name", StringType(), True),
 StructField("Salary", DoubleType(), True),
 StructField("Joining_Date", StringType(), True),
 StructField("Department", StringType(), True),
 StructField("Gender", StringType(), True)
])

In [5]:
df = spark.createDataFrame(data = data, schema = schema)
df.show()

+----------+----------+---------+---------+--------------------+----------+------+
|EmployeeID|First_Name|Last_Name|   Salary|        Joining_Date|Department|Gender|
+----------+----------+---------+---------+--------------------+----------+------+
|         1|     Vikas|  Ahlawat| 600000.0|2013-02-15 11:16:...|        IT|  Male|
|         2|    nikita|     Jain| 530000.0|2014-01-09 17:31:...|        HR|Female|
|         3|    Ashish|    Kumar|1000000.0|2014-01-09 10:05:...|        IT|  Male|
|         4|    Nikhil|   Sharma| 480000.0|2014-01-09 09:00:...|        HR|  Male|
|         5|     anish|   kadian| 500000.0|2014-01-09 09:31:...|   Payroll|  Male|
+----------+----------+---------+---------+--------------------+----------+------+

In [6]:
df.select(date_format(to_timestamp(col("Joining_Date")),'yyyy')).show()

+---------------------------------------------+
|date_format(to_timestamp(Joining_Date), yyyy)|
+---------------------------------------------+
|                                         2013|
|                                         2014|
|                                         2014|
|                                         2014|
|                                         2014|
+---------------------------------------------+

In [7]:
df.select(date_format(to_timestamp(col("Joining_Date")),'MM')).show()
df.select(date_format(to_timestamp(col("Joining_Date")),'MMM')).show()

+-------------------------------------------+
|date_format(to_timestamp(Joining_Date), MM)|
+-------------------------------------------+
|                                         02|
|                                         01|
|                                         01|
|                                         01|
|                                         01|
+-------------------------------------------+

+--------------------------------------------+
|date_format(to_timestamp(Joining_Date), MMM)|
+--------------------------------------------+
|                                         Feb|
|                                         Jan|
|                                         Jan|
|                                         Jan|
|                                         Jan|
+--------------------------------------------+

In [8]:
df.select(date_format(to_timestamp(col("Joining_Date")),'dd')).show()

+-------------------------------------------+
|date_format(to_timestamp(Joining_Date), dd)|
+-------------------------------------------+
|                                         15|
|                                         09|
|                                         09|
|                                         09|
|                                         09|
+-------------------------------------------+

In [9]:
sys_date_df = spark.range(1).select(current_date().alias('sys-date'))
sys_date_df.show()

+----------+
|  sys-date|
+----------+
|2024-10-17|
+----------+

In [11]:
from os import truncate
sys_date_df = spark.range(1).select(current_timestamp().alias('sys-date'))
sys_date_df.show(truncate = False)

+--------------------------+
|sys-date                  |
+--------------------------+
|2024-10-17 06:03:25.788537|
+--------------------------+