In [1]:
# ps-22
%pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.3.tar.gz (317.3 MB)
     â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 317.3/317.3 MB 2.4 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.3-py2.py3-none-any.whl size=317840625 sha256=bd120278e0f4a1353fe7ce865345283ea96d0069026d124a6194d8468ae71048
  Stored in directory: /root/.cache/pip/wheels/1b/3a/92/28b93e2fbfdbb07509ca4d6f50c5e407f48dce4ddbda69a4ab
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.3

In [2]:
# import all necessary module
from pyspark.sql import *
from pyspark.sql.types import *
from pyspark.sql.functions import *

In [3]:
# create spark session
spark = SparkSession.builder.master('local').appName('pyspark-day-33').getOrCreate()
spark

ğ˜ğ¨ğ®ğ« ğ¦ğ¢ğ¬ğ¬ğ¢ğ¨ğ§, ğ¬ğ¡ğ¨ğ®ğ¥ğ ğ²ğ¨ğ® ğœğ¡ğ¨ğ¨ğ¬ğ ğ­ğ¨ ğšğœğœğğ©ğ­ ğ¢ğ­, ğ¢ğ¬ ğ­ğ¨ ğ¬ğ¡ğ¨ğ°ğœğšğ¬ğ ğ²ğ¨ğ®ğ« ğğ˜ğ’ğğ€ğ‘ğŠ ğ©ğ«ğ¨ğ°ğğ¬ğ¬ ğ°ğ¢ğ­ğ¡ ğ­ğ¡ğ ğŸğ¨ğ¥ğ¥ğ¨ğ°ğ¢ğ§ğ  ğ­ğšğ¬ğ¤ğ¬:

1ï¸âƒ£ Get the first name, current date, joiningdate and diff between current date and joining date in months.
2ï¸âƒ£ Get the first name, current date, joiningdate and diff between current date and joining date in days.
3ï¸âƒ£ Get all employee details from EmployeeDetail table whose joining year is 2013.

 ================================
ğ’ğœğ¡ğğ¦ğš ğ€ğ§ğ ğƒğšğ­ğš:
================================

data = [
 [1, "Vikas", "Ahlawat", 600000.0, "2013-02-15 11:16:28.290", "IT", "Male"],
 [2, "nikita", "Jain", 530000.0, "2014-01-09 17:31:07.793", "HR", "Female"],
 [3, "Ashish", "Kumar", 1000000.0, "2014-01-09 10:05:07.793", "IT", "Male"],
 [4, "Nikhil", "Sharma", 480000.0, "2014-01-09 09:00:07.793", "HR", "Male"],
 [5, "anish", "kadian", 500000.0, "2014-01-09 09:31:07.793", "Payroll", "Male"],
]

schema = StructType([
 StructField("EmployeeID", IntegerType(), True),
 StructField("First_Name", StringType(), True),
 StructField("Last_Name", StringType(), True),
 StructField("Salary", DoubleType(), True),
 StructField("Joining_Date", StringType(), True),
 StructField("Department", StringType(), True),
 StructField("Gender", StringType(), True)
])

In [5]:
data = [
 [1, "Vikas", "Ahlawat", 600000.0, "2013-02-15 11:16:28.290", "IT", "Male"],
 [2, "nikita", "Jain", 530000.0, "2014-01-09 17:31:07.793", "HR", "Female"],
 [3, "Ashish", "Kumar", 1000000.0, "2014-01-09 10:05:07.793", "IT", "Male"],
 [4, "Nikhil", "Sharma", 480000.0, "2014-01-09 09:00:07.793", "HR", "Male"],
 [5, "anish", "kadian", 500000.0, "2014-01-09 09:31:07.793", "Payroll", "Male"],
]

schema = StructType([
 StructField("EmployeeID", IntegerType(), True),
 StructField("First_Name", StringType(), True),
 StructField("Last_Name", StringType(), True),
 StructField("Salary", DoubleType(), True),
 StructField("Joining_Date", StringType(), True),
 StructField("Department", StringType(), True),
 StructField("Gender", StringType(), True)
])

In [6]:
# create df
df = spark.createDataFrame(schema = schema, data = data)
df.show()

+----------+----------+---------+---------+--------------------+----------+------+
|EmployeeID|First_Name|Last_Name|   Salary|        Joining_Date|Department|Gender|
+----------+----------+---------+---------+--------------------+----------+------+
|         1|     Vikas|  Ahlawat| 600000.0|2013-02-15 11:16:...|        IT|  Male|
|         2|    nikita|     Jain| 530000.0|2014-01-09 17:31:...|        HR|Female|
|         3|    Ashish|    Kumar|1000000.0|2014-01-09 10:05:...|        IT|  Male|
|         4|    Nikhil|   Sharma| 480000.0|2014-01-09 09:00:...|        HR|  Male|
|         5|     anish|   kadian| 500000.0|2014-01-09 09:31:...|   Payroll|  Male|
+----------+----------+---------+---------+--------------------+----------+------+

In [7]:
df.select('First_Name','Joining_Date',current_date(),months_between(current_date(),col('Joining_Date')).alias('total_month')).show()

+----------+--------------------+--------------+------------+
|First_Name|        Joining_Date|current_date()| total_month|
+----------+--------------------+--------------+------------+
|     Vikas|2013-02-15 11:16:...|    2024-10-16|140.01710424|
|    nikita|2014-01-09 17:31:...|    2024-10-16|129.20225993|
|    Ashish|2014-01-09 10:05:...|    2024-10-16|129.21225097|
|    Nikhil|2014-01-09 09:00:...|    2024-10-16|129.21370706|
|     anish|2014-01-09 09:31:...|    2024-10-16|129.21301262|
+----------+--------------------+--------------+------------+

In [8]:
df.select('First_Name','Joining_Date',current_date(),date_diff(current_date(),col('Joining_Date')).alias('total_days')).show()

+----------+--------------------+--------------+----------+
|First_Name|        Joining_Date|current_date()|total_days|
+----------+--------------------+--------------+----------+
|     Vikas|2013-02-15 11:16:...|    2024-10-16|      4261|
|    nikita|2014-01-09 17:31:...|    2024-10-16|      3933|
|    Ashish|2014-01-09 10:05:...|    2024-10-16|      3933|
|    Nikhil|2014-01-09 09:00:...|    2024-10-16|      3933|
|     anish|2014-01-09 09:31:...|    2024-10-16|      3933|
+----------+--------------------+--------------+----------+

In [10]:
df.filter(col('Joining_Date').like('2013%')).show()

+----------+----------+---------+--------+--------------------+----------+------+
|EmployeeID|First_Name|Last_Name|  Salary|        Joining_Date|Department|Gender|
+----------+----------+---------+--------+--------------------+----------+------+
|         1|     Vikas|  Ahlawat|600000.0|2013-02-15 11:16:...|        IT|  Male|
+----------+----------+---------+--------+--------------------+----------+------+

In [11]:
df.filter(year('Joining_Date')==2013).show()

+----------+----------+---------+--------+--------------------+----------+------+
|EmployeeID|First_Name|Last_Name|  Salary|        Joining_Date|Department|Gender|
+----------+----------+---------+--------+--------------------+----------+------+
|         1|     Vikas|  Ahlawat|600000.0|2013-02-15 11:16:...|        IT|  Male|
+----------+----------+---------+--------+--------------------+----------+------+