In [1]:
# ps-20
%pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.3.tar.gz (317.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.3/317.3 MB 4.5 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.3-py2.py3-none-any.whl size=317840625 sha256=118eedbd15f7c4c336d03a6f6ce64d8331e2f99c4968d632cb47f09992ff8245
  Stored in directory: /root/.cache/pip/wheels/1b/3a/92/28b93e2fbfdbb07509ca4d6f50c5e407f48dce4ddbda69a4ab
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.3

In [2]:
# import all necessary module
from pyspark.sql import *
from pyspark.sql.types import *
from pyspark.sql.functions import *

In [3]:
# create spark session
spark = SparkSession.builder.master('local').appName('pyspark-day-34').getOrCreate()
spark

𝐘𝐨𝐮𝐫 𝐦𝐢𝐬𝐬𝐢𝐨𝐧, 𝐬𝐡𝐨𝐮𝐥𝐝 𝐲𝐨𝐮 𝐜𝐡𝐨𝐨𝐬𝐞 𝐭𝐨 𝐚𝐜𝐜𝐞𝐩𝐭 𝐢𝐭, 𝐢𝐬 𝐭𝐨 𝐬𝐡𝐨𝐰𝐜𝐚𝐬𝐞 𝐲𝐨𝐮𝐫 𝐏𝐘𝐒𝐏𝐀𝐑𝐊 𝐩𝐫𝐨𝐰𝐞𝐬𝐬 𝐰𝐢𝐭𝐡 𝐭𝐡𝐞 𝐟𝐨𝐥𝐥𝐨𝐰𝐢𝐧𝐠 𝐭𝐚𝐬𝐤𝐬:

1️⃣ Get the lowest "Salary" from EmployeeDetail table.
2️⃣ Show "JoiningDate" in "dd mmm yyyy" format, ex- "15 Feb 2013"
3️⃣ Show "JoiningDate" in "yyyy/mm/dd" format, ex- "2013/02/15"

 ================================
𝐒𝐜𝐡𝐞𝐦𝐚 𝐀𝐧𝐝 𝐃𝐚𝐭𝐚:
================================

data = [
 [1, "Vikas", "Ahlawat", 600000.0, "2013-02-15 11:16:28.290", "IT", "Male"],
 [2, "nikita", "Jain", 530000.0, "2014-01-09 17:31:07.793", "HR", "Female"],
 [3, "Ashish", "Kumar", 1000000.0, "2014-01-09 10:05:07.793", "IT", "Male"],
 [4, "Nikhil", "Sharma", 480000.0, "2014-01-09 09:00:07.793", "HR", "Male"],
 [5, "anish", "kadian", 500000.0, "2014-01-09 09:31:07.793", "Payroll", "Male"],
]

schema = StructType([
 StructField("EmployeeID", IntegerType(), True),
 StructField("First_Name", StringType(), True),
 StructField("Last_Name", StringType(), True),
 StructField("Salary", DoubleType(), True),
 StructField("Joining_Date", StringType(), True),
 StructField("Department", StringType(), True),
 StructField("Gender", StringType(), True)
])

In [4]:
data = [
 [1, "Vikas", "Ahlawat", 600000.0, "2013-02-15 11:16:28.290", "IT", "Male"],
 [2, "nikita", "Jain", 530000.0, "2014-01-09 17:31:07.793", "HR", "Female"],
 [3, "Ashish", "Kumar", 1000000.0, "2014-01-09 10:05:07.793", "IT", "Male"],
 [4, "Nikhil", "Sharma", 480000.0, "2014-01-09 09:00:07.793", "HR", "Male"],
 [5, "anish", "kadian", 500000.0, "2014-01-09 09:31:07.793", "Payroll", "Male"],
]

schema = StructType([
 StructField("EmployeeID", IntegerType(), True),
 StructField("First_Name", StringType(), True),
 StructField("Last_Name", StringType(), True),
 StructField("Salary", DoubleType(), True),
 StructField("Joining_Date", StringType(), True),
 StructField("Department", StringType(), True),
 StructField("Gender", StringType(), True)
])

In [5]:
df = spark.createDataFrame(data = data, schema = schema)
df.show()

+----------+----------+---------+---------+--------------------+----------+------+
|EmployeeID|First_Name|Last_Name|   Salary|        Joining_Date|Department|Gender|
+----------+----------+---------+---------+--------------------+----------+------+
|         1|     Vikas|  Ahlawat| 600000.0|2013-02-15 11:16:...|        IT|  Male|
|         2|    nikita|     Jain| 530000.0|2014-01-09 17:31:...|        HR|Female|
|         3|    Ashish|    Kumar|1000000.0|2014-01-09 10:05:...|        IT|  Male|
|         4|    Nikhil|   Sharma| 480000.0|2014-01-09 09:00:...|        HR|  Male|
|         5|     anish|   kadian| 500000.0|2014-01-09 09:31:...|   Payroll|  Male|
+----------+----------+---------+---------+--------------------+----------+------+

In [6]:
df.agg(min('Salary')).show()

+-----------+
|min(Salary)|
+-----------+
|   480000.0|
+-----------+

In [7]:
formatted_df = df.withColumn('JoiningDate',date_format(to_timestamp(col('Joining_Date')),'dd MM yyyy'))
formatted_df.show()

+----------+----------+---------+---------+--------------------+----------+------+-----------+
|EmployeeID|First_Name|Last_Name|   Salary|        Joining_Date|Department|Gender|JoiningDate|
+----------+----------+---------+---------+--------------------+----------+------+-----------+
|         1|     Vikas|  Ahlawat| 600000.0|2013-02-15 11:16:...|        IT|  Male| 15 02 2013|
|         2|    nikita|     Jain| 530000.0|2014-01-09 17:31:...|        HR|Female| 09 01 2014|
|         3|    Ashish|    Kumar|1000000.0|2014-01-09 10:05:...|        IT|  Male| 09 01 2014|
|         4|    Nikhil|   Sharma| 480000.0|2014-01-09 09:00:...|        HR|  Male| 09 01 2014|
|         5|     anish|   kadian| 500000.0|2014-01-09 09:31:...|   Payroll|  Male| 09 01 2014|
+----------+----------+---------+---------+--------------------+----------+------+-----------+

In [10]:
formatted_df = df.withColumn('JoiningDate',date_format(to_timestamp(col('Joining_Date')),'yyyy/MM/dd'))
formatted_df.show()

+----------+----------+---------+---------+--------------------+----------+------+-----------+
|EmployeeID|First_Name|Last_Name|   Salary|        Joining_Date|Department|Gender|JoiningDate|
+----------+----------+---------+---------+--------------------+----------+------+-----------+
|         1|     Vikas|  Ahlawat| 600000.0|2013-02-15 11:16:...|        IT|  Male| 2013/02/15|
|         2|    nikita|     Jain| 530000.0|2014-01-09 17:31:...|        HR|Female| 2014/01/09|
|         3|    Ashish|    Kumar|1000000.0|2014-01-09 10:05:...|        IT|  Male| 2014/01/09|
|         4|    Nikhil|   Sharma| 480000.0|2014-01-09 09:00:...|        HR|  Male| 2014/01/09|
|         5|     anish|   kadian| 500000.0|2014-01-09 09:31:...|   Payroll|  Male| 2014/01/09|
+----------+----------+---------+---------+--------------------+----------+------+-----------+