In [1]:
# ps-44
%pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.2.tar.gz (317.3 MB)
     â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 317.3/317.3 MB 4.8 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.2-py2.py3-none-any.whl size=317812365 sha256=a05118d4ec75834f60012cb139af09d9781a44336be4f2b0e939bb144c78c45d
  Stored in directory: /root/.cache/pip/wheels/34/34/bd/03944534c44b677cd5859f248090daa9fb27b3c8f8e5f49574
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.2

ğŸŒŸ ğğ˜ğ’ğğ€ğ‘ğŠ ğğ«ğšğœğ­ğ¢ğœğ/ğˆğ§ğ­ğğ«ğ¯ğ¢ğğ° ğğ«ğ¨ğ›ğ¥ğğ¦ ğŸ“Š
========================================

ğğ«ğ¨ğ£ğğœğ­ ğ„ğ¦ğ©ğ¥ğ¨ğ²ğğğ¬ ğˆ ğğ«ğ¨ğ›ğ¥ğğ¦

Write an Pyspark code that reports the average experience years of all the employees for each project, rounded to 2 digits.

ğ‘ºğ’„ğ’‰ğ’†ğ’ğ’‚ ğ‘¨ğ’ğ’… ğ‘«ğ’‚ğ’•ğ’‚:
================
 # Define the schema for the Project table
project_schema = StructType([
 StructField("project_id", IntegerType(), True),
 StructField("employee_id", IntegerType(), True)
])

# Define the data for the Project table
project_data = [(1, 1), (1, 2), (1, 3), (2, 1), (2, 4)]

# Define the schema for the Employee table
employee_schema = StructType([
 StructField("employee_id", IntegerType(), True),
 StructField("name", StringType(), True),
 StructField("experience_years", IntegerType(), True)
])

# Define the data for the Employee table
employee_data = [(1, "Khaled", 3), (2, "Ali", 2), (3, "John", 1), (4, "Doe", 2)]

In [2]:
# import all necessary module
from pyspark.sql import *
from pyspark.sql.types import *
from pyspark.sql.functions import *

In [3]:
# create spark session
spark = SparkSession.builder.master('local').appName('pyspark-day-11').getOrCreate()
spark

In [4]:
 # Define the Project table
project_data = [
 (1, 1),
 (1, 2),
 (1, 3),
 (2, 1),
 (2, 4),
]
project_columns = ["project_id", "employee_id"]

In [5]:
employee_data = [
 (1, "Khaled", 3),
 (2, "Ali", 2),
 (3, "John", 1),
 (4, "Doe", 2),
]
employee_columns = ["employee_id", "name", "experience_years"]

In [6]:
# create project df
project_df = spark.createDataFrame(schema = project_columns, data = project_data)
project_df.show()

+----------+-----------+
|project_id|employee_id|
+----------+-----------+
|         1|          1|
|         1|          2|
|         1|          3|
|         2|          1|
|         2|          4|
+----------+-----------+

In [7]:
project_df.printSchema()

root
 |-- project_id: long (nullable = true)
 |-- employee_id: long (nullable = true)

In [8]:
emp_df = spark.createDataFrame(schema = employee_columns, data = employee_data)
emp_df.show()

+-----------+------+----------------+
|employee_id|  name|experience_years|
+-----------+------+----------------+
|          1|Khaled|               3|
|          2|   Ali|               2|
|          3|  John|               1|
|          4|   Doe|               2|
+-----------+------+----------------+

In [9]:
emp_df.printSchema()

root
 |-- employee_id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- experience_years: long (nullable = true)

In [10]:
# join both df
result_df = project_df.join(emp_df, on='employee_id', how='inner')
result_df.show()

+-----------+----------+------+----------------+
|employee_id|project_id|  name|experience_years|
+-----------+----------+------+----------------+
|          1|         1|Khaled|               3|
|          1|         2|Khaled|               3|
|          2|         1|   Ali|               2|
|          3|         1|  John|               1|
|          4|         2|   Doe|               2|
+-----------+----------+------+----------------+

In [15]:
result_df.groupBy(col('project_id')).agg(round(avg(col('experience_years')),2).alias('average_years')).show()

+----------+-------------+
|project_id|average_years|
+----------+-------------+
|         1|          2.0|
|         2|          2.5|
+----------+-------------+