In [1]:
%pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.2.tar.gz (317.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.3/317.3 MB 1.4 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.2-py2.py3-none-any.whl size=317812365 sha256=a5a5d4c652b9fc430582f04a2b0fd0aafe66dc83471d409c79023775f396714c
  Stored in directory: /root/.cache/pip/wheels/34/34/bd/03944534c44b677cd5859f248090daa9fb27b3c8f8e5f49574
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.2

𝐅𝐢𝐧𝐝 𝐓𝐡𝐞 𝐓𝐞𝐚𝐦 𝐒𝐢𝐳𝐞 𝐏𝐫𝐨𝐛𝐥𝐞𝐦
𝐖𝐫𝐢𝐭𝐞 𝐚𝐧 𝐏𝐲𝐬𝐩𝐚𝐫𝐤 𝐜𝐨𝐝𝐞 𝐭𝐨 𝐟𝐢𝐧𝐝 𝐭𝐡𝐞 𝐭𝐞𝐚𝐦 𝐬𝐢𝐳𝐞 𝐨𝐟 𝐞𝐚𝐜𝐡 𝐨𝐟 𝐭𝐡𝐞 𝐞𝐦𝐩𝐥𝐨𝐲𝐞𝐞𝐬.
𝐑𝐞𝐭𝐮𝐫𝐧 𝐫𝐞𝐬𝐮𝐥𝐭 𝐭𝐚𝐛𝐥𝐞 𝐢𝐧 𝐚𝐧𝐲 𝐨𝐫𝐝𝐞𝐫.


𝐒𝐜𝐡𝐞𝐦𝐚 𝐀𝐧𝐝 𝐃𝐚𝐭𝐚:

# Employee-Team data
data = [
 (1, 8),
 (2, 8),
 (3, 8),
 (4, 7),
 (5, 9),
 (6, 9)
]

# Define schema using StructType
schema = StructType([
 StructField("employee_id", IntegerType(), True),
 StructField("team_id", IntegerType(), True)
])

In [2]:
# import sparksession
from pyspark.sql import *
from pyspark.sql.types import *
from pyspark.sql.functions import *

In [3]:
# creating spark session
spark = SparkSession.builder.config('spark.ui.port','0').master('local').appName('PySpark-day1').getOrCreate()

In [4]:
spark

In [5]:
# data
data = [
 (1, 8),
 (2, 8),
 (3, 8),
 (4, 7),
 (5, 9),
 (6, 9)
]

# schema
schema = StructType([
    StructField('employee_id', IntegerType(), True),
    StructField('team_id', IntegerType(), True)
])

In [6]:
# create dataframe
df = spark.createDataFrame(data, schema)

df.show()

+-----------+-------+
|employee_id|team_id|
+-----------+-------+
|          1|      8|
|          2|      8|
|          3|      8|
|          4|      7|
|          5|      9|
|          6|      9|
+-----------+-------+

In [7]:
result_df = df.groupby('team_id').agg(count('team_id').alias('team_size'))
result_df.show()

+-------+---------+
|team_id|team_size|
+-------+---------+
|      9|        2|
|      8|        3|
|      7|        1|
+-------+---------+

In [8]:
final_df = df.join(result_df, on='team_id', how='left').select('employee_id', 'team_size').orderBy('employee_id')
final_df.show()

+-----------+---------+
|employee_id|team_size|
+-----------+---------+
|          1|        3|
|          2|        3|
|          3|        3|
|          4|        1|
|          5|        2|
|          6|        2|
+-----------+---------+