In [1]:
# ps-45
%pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.2.tar.gz (317.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.3/317.3 MB 4.4 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.2-py2.py3-none-any.whl size=317812365 sha256=cab3a6db804c7cba38ad207caeb28f93a6b4f9ac5fb36dfbbde0d0758474e801
  Stored in directory: /root/.cache/pip/wheels/34/34/bd/03944534c44b677cd5859f248090daa9fb27b3c8f8e5f49574
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.2

🌟 𝐏𝐘𝐒𝐏𝐀𝐑𝐊 𝐏𝐫𝐚𝐜𝐭𝐢𝐜𝐞/𝐈𝐧𝐭𝐞𝐫𝐯𝐢𝐞𝐰 𝐏𝐫𝐨𝐛𝐥𝐞𝐦 📊
========================================
𝐏𝐫𝐨𝐣𝐞𝐜𝐭 𝐄𝐦𝐩𝐥𝐨𝐲𝐞𝐞𝐬 𝐈𝐈 𝐏𝐫𝐨𝐛𝐥𝐞𝐦

Write an Pyspark code that reports all the projects that have the most employees.

𝐒𝐜𝐡𝐞𝐦𝐚 𝐀𝐧𝐝 𝐃𝐚𝐭𝐚:
================
 # Define the Project table
project_data = [
 (1, 1),
 (1, 2),
 (1, 3),
 (2, 1),
 (2, 4),
]
project_columns = ["project_id", "employee_id"]

 # Define the Employee table
employee_data = [
 (1, "Khaled", 3),
 (2, "Ali", 2),
 (3, "John", 1),
 (4, "Doe", 2),
]
employee_columns = ["employee_id", "name", "experience_years"]

In [2]:
# import all necessary module
from pyspark.sql import *
from pyspark.sql.types import *
from pyspark.sql.functions import *

In [3]:
# create spark session
spark = SparkSession.builder.master('local').appName('pyspark-day-11').getOrCreate()
spark

In [4]:
 # Define the Project table
project_data = [
 (1, 1),
 (1, 2),
 (1, 3),
 (2, 1),
 (2, 4),
]
project_columns = ["project_id", "employee_id"]

In [5]:
employee_data = [
 (1, "Khaled", 3),
 (2, "Ali", 2),
 (3, "John", 1),
 (4, "Doe", 2),
]
employee_columns = ["employee_id", "name", "experience_years"]

In [6]:
# create project df
project_df = spark.createDataFrame(schema = project_columns, data = project_data)
project_df.show()

+----------+-----------+
|project_id|employee_id|
+----------+-----------+
|         1|          1|
|         1|          2|
|         1|          3|
|         2|          1|
|         2|          4|
+----------+-----------+

In [7]:
project_df.printSchema()

root
 |-- project_id: long (nullable = true)
 |-- employee_id: long (nullable = true)

In [8]:
emp_df = spark.createDataFrame(schema = employee_columns, data = employee_data)
emp_df.show()

+-----------+------+----------------+
|employee_id|  name|experience_years|
+-----------+------+----------------+
|          1|Khaled|               3|
|          2|   Ali|               2|
|          3|  John|               1|
|          4|   Doe|               2|
+-----------+------+----------------+

In [9]:
emp_df.printSchema()

root
 |-- employee_id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- experience_years: long (nullable = true)

In [13]:
# use groupby on project df calculate cnt then use col
result_df = project_df.groupBy('project_id').agg(count('employee_id').alias('cnt')).orderBy(col('cnt').desc()).limit(1).select('project_id')
result_df.show()

+----------+
|project_id|
+----------+
|         1|
+----------+