In [1]:
# ps-26
%pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.3.tar.gz (317.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.3/317.3 MB 4.6 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.3-py2.py3-none-any.whl size=317840625 sha256=eb3a891d6c17a86b865d60dd464c54aaf73ed86fe4bf9a2baa4919ef6fe9adea
  Stored in directory: /root/.cache/pip/wheels/1b/3a/92/28b93e2fbfdbb07509ca4d6f50c5e407f48dce4ddbda69a4ab
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.3

In [2]:
# import all necessary module
from pyspark.sql import *
from pyspark.sql.types import *
from pyspark.sql.functions import *

In [3]:
# create spark session
spark = SparkSession.builder.master('local').appName('pyspark-day-29').getOrCreate()
spark

Your mission, should you choose to accept it, is to showcase your PYSPARK prowess with the following tasks:

1️⃣ Write the query to get the department and department wise
 total(sum) salary from "EmployeeDetail" table.
2️⃣ Write the query to get the department and department wise total(sum) salary, display it in ascending order according to salary.
3️⃣ Write the query to get the department and department wise total(sum) salary, display it in descending order according to salary.
4️⃣ Write the query to get the department, total no. of departments, total(sum) salary with respect to department from "EmployeeDetail" table.


Schema And Data:
================
# Input Data:
data = [
 [1, "Vikas", "Ahlawat", 600000.0, "2013-02-15 11:16:28.290", "IT", "Male"],
 [2, "nikita", "Jain", 530000.0, "2014-01-09 17:31:07.793", "HR", "Female"],
 [3, "Ashish", "Kumar", 1000000.0, "2014-01-09 10:05:07.793", "IT", "Male"],
 [4, "Nikhil", "Sharma", 480000.0, "2014-01-09 09:00:07.793", "HR", "Male"],
 [5, "anish", "kadian", 500000.0, "2014-01-09 09:31:07.793", "Payroll", "Male"],
]

# Create a schema for the DataFrame
schema = StructType([
 StructField("EmployeeID", IntegerType(), True),
 StructField("First_Name", StringType(), True),
 StructField("Last_Name", StringType(), True),
 StructField("Salary", DoubleType(), True),
 StructField("Joining_Date", StringType(), True),
 StructField("Department", StringType(), True),
 StructField("Gender", StringType(), True)
])

In [5]:
# Input Data:
data = [
 [1, "Vikas", "Ahlawat", 600000.0, "2013-02-15 11:16:28.290", "IT", "Male"],
 [2, "nikita", "Jain", 530000.0, "2014-01-09 17:31:07.793", "HR", "Female"],
 [3, "Ashish", "Kumar", 1000000.0, "2014-01-09 10:05:07.793", "IT", "Male"],
 [4, "Nikhil", "Sharma", 480000.0, "2014-01-09 09:00:07.793", "HR", "Male"],
 [5, "anish", "kadian", 500000.0, "2014-01-09 09:31:07.793", "Payroll", "Male"],
]

# Create a schema for the DataFrame
schema = StructType([
 StructField("EmployeeID", IntegerType(), True),
 StructField("First_Name", StringType(), True),
 StructField("Last_Name", StringType(), True),
 StructField("Salary", DoubleType(), True),
 StructField("Joining_Date", StringType(), True),
 StructField("Department", StringType(), True),
 StructField("Gender", StringType(), True)
])

In [6]:
# create df
df = spark.createDataFrame(schema = schema , data=data)
df.show()

+----------+----------+---------+---------+--------------------+----------+------+
|EmployeeID|First_Name|Last_Name|   Salary|        Joining_Date|Department|Gender|
+----------+----------+---------+---------+--------------------+----------+------+
|         1|     Vikas|  Ahlawat| 600000.0|2013-02-15 11:16:...|        IT|  Male|
|         2|    nikita|     Jain| 530000.0|2014-01-09 17:31:...|        HR|Female|
|         3|    Ashish|    Kumar|1000000.0|2014-01-09 10:05:...|        IT|  Male|
|         4|    Nikhil|   Sharma| 480000.0|2014-01-09 09:00:...|        HR|  Male|
|         5|     anish|   kadian| 500000.0|2014-01-09 09:31:...|   Payroll|  Male|
+----------+----------+---------+---------+--------------------+----------+------+

In [7]:
# calculate total sal dept wise
df.groupBy('Department').agg(sum('Salary').alias('total_sal')).show()

+----------+---------+
|Department|total_sal|
+----------+---------+
|        HR|1010000.0|
|   Payroll| 500000.0|
|        IT|1600000.0|
+----------+---------+

In [8]:
# order it in asc on total sal
df.groupBy('Department').agg(sum('Salary').alias('total_sal')).orderBy(col('total_sal').asc()).show()

+----------+---------+
|Department|total_sal|
+----------+---------+
|   Payroll| 500000.0|
|        HR|1010000.0|
|        IT|1600000.0|
+----------+---------+

In [9]:
# order it in desc on total sal
df.groupBy('Department').agg(sum('Salary').alias('total_sal')).orderBy(col('total_sal').desc()).show()

+----------+---------+
|Department|total_sal|
+----------+---------+
|        IT|1600000.0|
|        HR|1010000.0|
|   Payroll| 500000.0|
+----------+---------+

In [10]:
# calculate total sal dept wise
df.groupBy('Department').agg(count('Salary').alias('count'),sum('Salary').alias('total_sal')).show()

+----------+-----+---------+
|Department|count|total_sal|
+----------+-----+---------+
|        HR|    2|1010000.0|
|   Payroll|    1| 500000.0|
|        IT|    2|1600000.0|
+----------+-----+---------+