In [1]:
# ps-33
%pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.3.tar.gz (317.3 MB)
     â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 317.3/317.3 MB 4.8 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.3-py2.py3-none-any.whl size=317840625 sha256=ff52f10b90dcb2f04aed32fb49932253956a1b56a531de8564e03c145ad8889c
  Stored in directory: /root/.cache/pip/wheels/1b/3a/92/28b93e2fbfdbb07509ca4d6f50c5e407f48dce4ddbda69a4ab
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.3

ğ‡ğ¨ğ›ğ›ğ¢ğğ¬ ğƒğšğ­ğš ğ“ğ«ğšğ§ğ¬ğŸğ¨ğ«ğ¦ğšğ­ğ¢ğ¨ğ§

Problem Statement:
Transform a dataset with individuals' names and associated hobbies into a new format using PySpark.
Convert the comma-separated hobbies into separate rows, creating a DataFrame with individual rows
for each person and their respective hobbies.

ğ’ğœğ¡ğğ¦ğš ğ€ğ§ğ ğƒğšğ­ğš:
================

# Sample input data
data = [("Alice", "badminton,tennis"),
 ("Bob", "tennis,cricket"),
 ("Julie", "cricket,carroms")]

# Create a DataFrame
df = spark.createDataFrame(data, ["name", "hobbies"])

In [2]:
# import all necessary module
from pyspark.sql import *
from pyspark.sql.types import *
from pyspark.sql.functions import *

In [3]:
# create spark session
spark = SparkSession.builder.master('local').appName('pyspark-day-23').getOrCreate()
spark

In [5]:
# Sample input data
data = [("Alice", "badminton,tennis"),
 ("Bob", "tennis,cricket"),
 ("Julie", "cricket,carroms")]

# Create a DataFrame
df = spark.createDataFrame(data, ["name", "hobbies"])
df.show()

+-----+----------------+
| name|         hobbies|
+-----+----------------+
|Alice|badminton,tennis|
|  Bob|  tennis,cricket|
|Julie| cricket,carroms|
+-----+----------------+

In [7]:
# first split column on comm, then
df_split = df.withColumn('hobbies',split(col('hobbies'),','))
df_split.show()

+-----+-------------------+
| name|            hobbies|
+-----+-------------------+
|Alice|[badminton, tennis]|
|  Bob|  [tennis, cricket]|
|Julie| [cricket, carroms]|
+-----+-------------------+

In [8]:
# now explode the list
df_split.withColumn('hobby',explode('hobbies')).select('name', 'hobby').show()

+-----+---------+
| name|    hobby|
+-----+---------+
|Alice|badminton|
|Alice|   tennis|
|  Bob|   tennis|
|  Bob|  cricket|
|Julie|  cricket|
|Julie|  carroms|
+-----+---------+