In [1]:
# ps48
%pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.2.tar.gz (317.3 MB)
     â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 317.3/317.3 MB 4.6 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.2-py2.py3-none-any.whl size=317812365 sha256=bc76ae24a7b2dffe9902b085dec5f20f97643f6d24c3c3215a3c453074d14ef9
  Stored in directory: /root/.cache/pip/wheels/34/34/bd/03944534c44b677cd5859f248090daa9fb27b3c8f8e5f49574
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.2

ğŸŒŸ ğğ˜ğ’ğğ€ğ‘ğŠ ğğ«ğšğœğ­ğ¢ğœğ/ğˆğ§ğ­ğğ«ğ¯ğ¢ğğ° ğğ«ğ¨ğ›ğ¥ğğ¦ ğŸ“Š
========================================
Sales Analysis III Problem

Write an pyspark code that reports the products that were sold in spring 2019. That is, between 2019-01-01 and 2019-03-31 inclusive.

ğ’ğœğ¡ğğ¦ğš ğ€ğ§ğ ğƒğšğ­ğš:
================

 # Define the schema for Product table
product_schema = StructType([
 StructField("product_id", IntegerType(), True),
 StructField("product_name", StringType(), True),
 StructField("unit_price", IntegerType(), True)
])
# Data for Product table
product_data = [(1, "S8", 1000),
 (2, "G4", 800),
 (3, "iPhone", 1400)]

# Define the schema for Sales table
sales_schema = StructType([
 StructField("seller_id", IntegerType(), True),
 StructField("product_id", IntegerType(), True),
 StructField("buyer_id", IntegerType(), True),
 StructField("sale_date", StringType(), True),
 StructField("quantity", IntegerType(), True),
 StructField("price", IntegerType(), True)
])
# Data for Sales table
sales_data = [(1, 1, 1, "2019-01-21", 2, 2000),
 (1, 2, 2, "2019-02-17", 1, 800),
 (2, 2, 3, "2019-06-02", 1, 800),
 (3, 3, 4, "2019-05-13", 2, 2800)]

In [2]:
# import necessary module
from pyspark.sql import *
from pyspark.sql.types import *
from pyspark.sql.functions import *

In [3]:
# create spark session
spark = SparkSession.builder.master('local').appName('pyspark-day-8').getOrCreate()
spark

In [4]:
# define schema and data
 # Define the schema for Product table
product_schema = StructType([
 StructField("product_id", IntegerType(), True),
 StructField("product_name", StringType(), True),
 StructField("unit_price", IntegerType(), True)
])
# Data for Product table
product_data = [(1, "S8", 1000),
 (2, "G4", 800),
 (3, "iPhone", 1400)]

In [5]:
# Define the schema for Sales table
sales_schema = StructType([
 StructField("seller_id", IntegerType(), True),
 StructField("product_id", IntegerType(), True),
 StructField("buyer_id", IntegerType(), True),
 StructField("sale_date", StringType(), True),
 StructField("quantity", IntegerType(), True),
 StructField("price", IntegerType(), True)
])
# Data for Sales table
sales_data = [(1, 1, 1, "2019-01-21", 2, 2000),
 (1, 2, 2, "2019-02-17", 1, 800),
 (2, 2, 3, "2019-06-02", 1, 800),
 (3, 3, 4, "2019-05-13", 2, 2800)]

In [6]:
# create df for product
product_df = spark.createDataFrame(schema = product_schema, data = product_data)
product_df.show()

+----------+------------+----------+
|product_id|product_name|unit_price|
+----------+------------+----------+
|         1|          S8|      1000|
|         2|          G4|       800|
|         3|      iPhone|      1400|
+----------+------------+----------+

In [7]:
# create df for sales
sales_df = spark.createDataFrame(schema = sales_schema, data = sales_data)
sales_df.show()

+---------+----------+--------+----------+--------+-----+
|seller_id|product_id|buyer_id| sale_date|quantity|price|
+---------+----------+--------+----------+--------+-----+
|        1|         1|       1|2019-01-21|       2| 2000|
|        1|         2|       2|2019-02-17|       1|  800|
|        2|         2|       3|2019-06-02|       1|  800|
|        3|         3|       4|2019-05-13|       2| 2800|
+---------+----------+--------+----------+--------+-----+

In [9]:
product_df.printSchema()

root
 |-- product_id: integer (nullable = true)
 |-- product_name: string (nullable = true)
 |-- unit_price: integer (nullable = true)

In [10]:
sales_df.printSchema()

root
 |-- seller_id: integer (nullable = true)
 |-- product_id: integer (nullable = true)
 |-- buyer_id: integer (nullable = true)
 |-- sale_date: string (nullable = true)
 |-- quantity: integer (nullable = true)
 |-- price: integer (nullable = true)

In [12]:
# filter data on sale_date col
filter_sale = sales_df.filter(col('sale_date').between('2019-01-01','2019-03-31'))
filter_sale.show()

+---------+----------+--------+----------+--------+-----+
|seller_id|product_id|buyer_id| sale_date|quantity|price|
+---------+----------+--------+----------+--------+-----+
|        1|         1|       1|2019-01-21|       2| 2000|
|        1|         2|       2|2019-02-17|       1|  800|
+---------+----------+--------+----------+--------+-----+

In [13]:
# join filter_sale with product df
result_df = product_df.join(filter_sale, on='product_id', how='inner')
result_df.show()

+----------+------------+----------+---------+--------+----------+--------+-----+
|product_id|product_name|unit_price|seller_id|buyer_id| sale_date|quantity|price|
+----------+------------+----------+---------+--------+----------+--------+-----+
|         1|          S8|      1000|        1|       1|2019-01-21|       2| 2000|
|         2|          G4|       800|        1|       2|2019-02-17|       1|  800|
+----------+------------+----------+---------+--------+----------+--------+-----+

In [14]:
# select only required column
result_df.select('product_id','product_name','unit_price').show()

+----------+------------+----------+
|product_id|product_name|unit_price|
+----------+------------+----------+
|         1|          S8|      1000|
|         2|          G4|       800|
+----------+------------+----------+