In [1]:
# ps-42
%pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.3.tar.gz (317.3 MB)
     â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 317.3/317.3 MB 4.1 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.3-py2.py3-none-any.whl size=317840625 sha256=11f670ac37c1bf3ed653489eec23f366d77c5c3831b5e355762c56fd59888dfc
  Stored in directory: /root/.cache/pip/wheels/1b/3a/92/28b93e2fbfdbb07509ca4d6f50c5e407f48dce4ddbda69a4ab
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.3

ğŸŒŸ ğğ˜ğ’ğğ€ğ‘ğŠ ğğ«ğšğœğ­ğ¢ğœğ/ğˆğ§ğ­ğğ«ğ¯ğ¢ğğ° ğğ«ğ¨ğ›ğ¥ğğ¦ ğŸ“Š
========================================

Write an pyspark code that reports all product names of
the products in the Sales table along with their selling
year and price.

ğ’ğœğ¡ğğ¦ğš ğ€ğ§ğ ğƒğšğ­ğš:
================
 # Define the schema for the DataFrame
schema = StructType([
 StructField("sale_id", IntegerType()),
 StructField("product_id", IntegerType()),
 StructField("year", IntegerType(), True),
 StructField("quantity", IntegerType()),
 StructField("price", IntegerType())
])
# Provide the data as a list of tuples
data = [
 (1, 100, 2008, 10, 5000),
 (2, 100, 2009, 12, 5000),
 (7, 200, 2011, 15, 9000)
]
# Define the schema for the products DataFrame
products_schema = StructType([
 StructField("product_id", IntegerType(), True),
 StructField("product_name", StringType(), True),
])
# Provide the product data as a list of tuples
products_data = [
 (100, "Nokia"),
 (200, "Apple"),
 (300, "Samsung"),
]

In [2]:
# import all necessary module
from pyspark.sql import *
from pyspark.sql.types import *
from pyspark.sql.functions import *

In [3]:
# create spark session
spark = SparkSession.builder.master('local').appName('pyspark-day-14').getOrCreate()
spark

In [8]:
# Define the schema for the DataFrame
sales_schema = StructType([
 StructField("sale_id", IntegerType()),
 StructField("product_id", IntegerType()),
 StructField("year", IntegerType(), True),
 StructField("quantity", IntegerType()),
 StructField("price", IntegerType())
])
# Provide the data as a list of tuples
sales_data = [
 (1, 100, 2008, 10, 5000),
 (2, 100, 2009, 12, 5000),
 (7, 200, 2011, 15, 9000)
]

In [9]:
# Define the schema for the products DataFrame
products_schema = StructType([
 StructField("product_id", IntegerType(), True),
 StructField("product_name", StringType(), True),
])
# Provide the product data as a list of tuples
products_data = [
 (100, "Nokia"),
 (200, "Apple"),
 (300, "Samsung"),
]

In [10]:
# create sales df
sale_df = spark.createDataFrame(schema = sales_schema, data = sales_data)
sale_df.show()

+-------+----------+----+--------+-----+
|sale_id|product_id|year|quantity|price|
+-------+----------+----+--------+-----+
|      1|       100|2008|      10| 5000|
|      2|       100|2009|      12| 5000|
|      7|       200|2011|      15| 9000|
+-------+----------+----+--------+-----+

In [11]:
sale_df.printSchema()

root
 |-- sale_id: integer (nullable = true)
 |-- product_id: integer (nullable = true)
 |-- year: integer (nullable = true)
 |-- quantity: integer (nullable = true)
 |-- price: integer (nullable = true)

In [13]:
# create product df
product_df = spark.createDataFrame(schema = products_schema, data = products_data)
product_df.show()

+----------+------------+
|product_id|product_name|
+----------+------------+
|       100|       Nokia|
|       200|       Apple|
|       300|     Samsung|
+----------+------------+

In [14]:
product_df.printSchema()

root
 |-- product_id: integer (nullable = true)
 |-- product_name: string (nullable = true)

In [15]:
# join both df
join_df = sale_df.join(product_df, on='product_id',  how='inner')
join_df.show()

+----------+-------+----+--------+-----+------------+
|product_id|sale_id|year|quantity|price|product_name|
+----------+-------+----+--------+-----+------------+
|       100|      1|2008|      10| 5000|       Nokia|
|       100|      2|2009|      12| 5000|       Nokia|
|       200|      7|2011|      15| 9000|       Apple|
+----------+-------+----+--------+-----+------------+

In [16]:
join_df.select('product_name','year','price').show()

+------------+----+-----+
|product_name|year|price|
+------------+----+-----+
|       Nokia|2008| 5000|
|       Nokia|2009| 5000|
|       Apple|2011| 9000|
+------------+----+-----+