In [1]:
# ps-40
%pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.3.tar.gz (317.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.3/317.3 MB 3.9 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.3-py2.py3-none-any.whl size=317840625 sha256=5b7c9450197bd1804061fd1ac7cce26f86bd8f0ceaf78b155740ff77549945cd
  Stored in directory: /root/.cache/pip/wheels/1b/3a/92/28b93e2fbfdbb07509ca4d6f50c5e407f48dce4ddbda69a4ab
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.3

🌟 𝐏𝐘𝐒𝐏𝐀𝐑𝐊 𝐏𝐫𝐚𝐜𝐭𝐢𝐜𝐞/𝐈𝐧𝐭𝐞𝐫𝐯𝐢𝐞𝐰 𝐏𝐫𝐨𝐛𝐥𝐞𝐦 📊
========================================
𝐒𝐰𝐚𝐩 𝐆𝐞𝐧𝐝𝐞𝐫 𝐏𝐫𝐨𝐛𝐥𝐞𝐦

Given a df salary, such as the one below, that has m=male and f=female values.
 Swap all f and m values (i.e., change all f values to m and vice versa)

𝐒𝐜𝐡𝐞𝐦𝐚 𝐀𝐧𝐝 𝐃𝐚𝐭𝐚:
================
 # Define the schema for the DataFrame
schema = StructType([
 StructField("id", IntegerType(), True),
 StructField("name", StringType(), True),
 StructField("sex", StringType(), True),
 StructField("salary", IntegerType(), True),
])

# Define the data
data = [
 (1, "A", "m", 2500),
 (2, "B", "f", 1500),
 (3, "C", "m", 5500),
 (4, "D", "f", 500),
]

In [16]:
# import all necessary module
from pyspark.sql import *
from pyspark.sql.types import *
from pyspark.sql.functions import *

In [17]:
# create spark session
spark = SparkSession.builder.master('local').appName('pyspark-day-16').getOrCreate()
spark

In [4]:
 # Define the schema for the DataFrame
schema = StructType([
 StructField("id", IntegerType(), True),
 StructField("name", StringType(), True),
 StructField("sex", StringType(), True),
 StructField("salary", IntegerType(), True),
])

# Define the data
data = [
 (1, "A", "m", 2500),
 (2, "B", "f", 1500),
 (3, "C", "m", 5500),
 (4, "D", "f", 500),
]

In [5]:
# create df
gender_df = spark.createDataFrame(schema = schema, data = data)
gender_df.show()

+---+----+---+------+
| id|name|sex|salary|
+---+----+---+------+
|  1|   A|  m|  2500|
|  2|   B|  f|  1500|
|  3|   C|  m|  5500|
|  4|   D|  f|   500|
+---+----+---+------+

In [6]:
gender_df.printSchema()

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- sex: string (nullable = true)
 |-- salary: integer (nullable = true)

In [14]:
gender_df.withColumn('sex', when(col('sex') == 'm', 'f').otherwise('m')).show()

+---+----+---+------+
| id|name|sex|salary|
+---+----+---+------+
|  1|   A|  f|  2500|
|  2|   B|  m|  1500|
|  3|   C|  f|  5500|
|  4|   D|  m|   500|
+---+----+---+------+