In [1]:
# ps-32
%pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.3.tar.gz (317.3 MB)
     ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 317.3/317.3 MB 4.1 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.3-py2.py3-none-any.whl size=317840625 sha256=e7820784d8a230bec81baec39eb7220e20aa595682812cb87fc8053cc2ce341e
  Stored in directory: /root/.cache/pip/wheels/1b/3a/92/28b93e2fbfdbb07509ca4d6f50c5e407f48dce4ddbda69a4ab
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.3

In [2]:
# import all necessary module
from pyspark.sql import *
from pyspark.sql.types import *
from pyspark.sql.functions import *

In [3]:
# create spark session
spark = SparkSession.builder.master('local').appName('pyspark-day-24').getOrCreate()
spark

Write a pyspark code to transform the DataFrame to display each student's marks in Math and English as separate columns.

ùêíùêúùê°ùêûùê¶ùêö ùêÄùêßùêù ùêÉùêöùê≠ùêö:
================

data=[
('Rudra','math',79),
('Rudra','eng',60),
('Shivu','math', 68),
('Shivu','eng', 59),
('Anu','math', 65),
('Anu','eng',80)
]

schema = StructType([
 StructField("Name", StringType(), True),
 StructField("Sub", StringType(), True),
 StructField("Marks", IntegerType(), True)
])

In [4]:
# schema and data
data=[
('Rudra','math',79),
('Rudra','eng',60),
('Shivu','math', 68),
('Shivu','eng', 59),
('Anu','math', 65),
('Anu','eng',80)
]

schema = StructType([
 StructField("Name", StringType(), True),
 StructField("Sub", StringType(), True),
 StructField("Marks", IntegerType(), True)
])

In [5]:
# create dataframe
df = spark.createDataFrame(schema = schema, data = data)
df.show()

+-----+----+-----+
| Name| Sub|Marks|
+-----+----+-----+
|Rudra|math|   79|
|Rudra| eng|   60|
|Shivu|math|   68|
|Shivu| eng|   59|
|  Anu|math|   65|
|  Anu| eng|   80|
+-----+----+-----+

In [7]:
# first use collect_list to make list of marks
df = df.groupBy('Name').agg(collect_list('Marks').alias('new_marks'))
df.show()

+-----+---------+
| Name|new_marks|
+-----+---------+
|Shivu| [68, 59]|
|Rudra| [79, 60]|
|  Anu| [65, 80]|
+-----+---------+

In [9]:
df = df.withColumn('Math',col('new_marks')[0]).withColumn('Eng',col('new_marks')[1]).select('name','math','eng')
df.show()

+-----+----+---+
| name|math|eng|
+-----+----+---+
|Shivu|  68| 59|
|Rudra|  79| 60|
|  Anu|  65| 80|
+-----+----+---+