In [1]:
# ps-32
%pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.3.tar.gz (317.3 MB)
     â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 317.3/317.3 MB 3.6 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.3-py2.py3-none-any.whl size=317840625 sha256=25be045629422c7f209ba5012d27db965fd5ec479a0b2ed66afe79aa554568cc
  Stored in directory: /root/.cache/pip/wheels/1b/3a/92/28b93e2fbfdbb07509ca4d6f50c5e407f48dce4ddbda69a4ab
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.3

In [2]:
# import all necessary module
from pyspark.sql import *
from pyspark.sql.types import *
from pyspark.sql.functions import *

In [3]:
# create spark session
spark = SparkSession.builder.master('local').appName('pyspark-day-25').getOrCreate()
spark

ğŸŒŸ ğğ˜ğ’ğğ€ğ‘ğŠ ğğ«ğšğœğ­ğ¢ğœğ/ğˆğ§ğ­ğğ«ğ¯ğ¢ğğ° ğğ«ğ¨ğ›ğ¥ğğ¦ ğŸ“Š
========================================

1ï¸âƒ£ Write a pyspark code to find out the employeename who has not assigned any project, and display "-No Project Assigned"( tables :- [EmployeeDetail],[ProjectDetail]).
2ï¸âƒ£  Write a pyspark code to find out the project name which is not assigned to any employee( tables :- [EmployeeDetail],[ProjectDetail]).

ğ’ğœğ¡ğğ¦ğš ğ€ğ§ğ ğƒğšğ­ğš:
================
# Input Data:
data = [
 [1, "Vikas", "Ahlawat", 600000.0, "2013-02-15 11:16:28.290", "IT", "Male"],
 [2, "nikita", "Jain", 530000.0, "2014-01-09 17:31:07.793", "HR", "Female"],
 [3, "Ashish", "Kumar", 1000000.0, "2014-01-09 10:05:07.793", "IT", "Male"],
 [4, "Nikhil", "Sharma", 480000.0, "2014-01-09 09:00:07.793", "HR", "Male"],
 [5, "anish", "kadian", 500000.0, "2014-01-09 09:31:07.793", "Payroll", "Male"],
]

# Create a schema for the DataFrame
schema = StructType([
 StructField("EmployeeID", IntegerType(), True),
 StructField("First_Name", StringType(), True),
 StructField("Last_Name", StringType(), True),
 StructField("Salary", DoubleType(), True),
 StructField("Joining_Date", StringType(), True),
 StructField("Department", StringType(), True),
 StructField("Gender", StringType(), True)
])

pro_schema = StructType([
StructField("Project_DetailID", IntegerType(), True),
StructField("Employee_DetailID", IntegerType(), True),
StructField("Project_Name", StringType(), True)
])

# Create the data as a list of tuples
pro_data = [
(1, 1, "Task Track"),
(2, 1, "CLP"),
(3, 1, "Survey Management"),
(4, 2, "HR Management"),
(5, 3, "Task Track"),
(6, 3, "GRS"),
(7, 3, "DDS"),
(8, 4, "HR Management"),
(9, 6, "GL Management")
]

In [4]:
# Input Data:
data = [
 [1, "Vikas", "Ahlawat", 600000.0, "2013-02-15 11:16:28.290", "IT", "Male"],
 [2, "nikita", "Jain", 530000.0, "2014-01-09 17:31:07.793", "HR", "Female"],
 [3, "Ashish", "Kumar", 1000000.0, "2014-01-09 10:05:07.793", "IT", "Male"],
 [4, "Nikhil", "Sharma", 480000.0, "2014-01-09 09:00:07.793", "HR", "Male"],
 [5, "anish", "kadian", 500000.0, "2014-01-09 09:31:07.793", "Payroll", "Male"],
]

# Create a schema for the DataFrame
schema = StructType([
 StructField("EmployeeID", IntegerType(), True),
 StructField("First_Name", StringType(), True),
 StructField("Last_Name", StringType(), True),
 StructField("Salary", DoubleType(), True),
 StructField("Joining_Date", StringType(), True),
 StructField("Department", StringType(), True),
 StructField("Gender", StringType(), True)
])

In [5]:
emp_df = spark.createDataFrame(schema = schema, data = data)
emp_df.show()

+----------+----------+---------+---------+--------------------+----------+------+
|EmployeeID|First_Name|Last_Name|   Salary|        Joining_Date|Department|Gender|
+----------+----------+---------+---------+--------------------+----------+------+
|         1|     Vikas|  Ahlawat| 600000.0|2013-02-15 11:16:...|        IT|  Male|
|         2|    nikita|     Jain| 530000.0|2014-01-09 17:31:...|        HR|Female|
|         3|    Ashish|    Kumar|1000000.0|2014-01-09 10:05:...|        IT|  Male|
|         4|    Nikhil|   Sharma| 480000.0|2014-01-09 09:00:...|        HR|  Male|
|         5|     anish|   kadian| 500000.0|2014-01-09 09:31:...|   Payroll|  Male|
+----------+----------+---------+---------+--------------------+----------+------+

In [6]:
pro_schema = StructType([
StructField("Project_DetailID", IntegerType(), True),
StructField("Employee_DetailID", IntegerType(), True),
StructField("Project_Name", StringType(), True)
])

# Create the data as a list of tuples
pro_data = [
(1, 1, "Task Track"),
(2, 1, "CLP"),
(3, 1, "Survey Management"),
(4, 2, "HR Management"),
(5, 3, "Task Track"),
(6, 3, "GRS"),
(7, 3, "DDS"),
(8, 4, "HR Management"),
(9, 6, "GL Management")
]

In [7]:
# create df for project
pro_df = spark.createDataFrame(schema = pro_schema, data = pro_data)
pro_df.show()

+----------------+-----------------+-----------------+
|Project_DetailID|Employee_DetailID|     Project_Name|
+----------------+-----------------+-----------------+
|               1|                1|       Task Track|
|               2|                1|              CLP|
|               3|                1|Survey Management|
|               4|                2|    HR Management|
|               5|                3|       Task Track|
|               6|                3|              GRS|
|               7|                3|              DDS|
|               8|                4|    HR Management|
|               9|                6|    GL Management|
+----------------+-----------------+-----------------+

In [10]:
# join both df, filter based on null project
emp_df.join(pro_df,emp_df['EmployeeID']==pro_df['Employee_DetailID'],how='left')\
      .filter(col('Project_Name').isNull())\
      .select('First_Name',coalesce( col('Project_Name'), lit('-No Project Assigned') ).alias('Project_Name')).show()

+----------+--------------------+
|First_Name|        Project_Name|
+----------+--------------------+
|     anish|-No Project Assigned|
+----------+--------------------+

In [13]:
result_df = emp_df.join(pro_df,emp_df['EmployeeID']==pro_df['Employee_DetailID'],how='right')\
      .select('EmployeeID','Project_Name')
result_df.filter(col('EmployeeID').isNull()).select('Project_Name').show()

+-------------+
| Project_Name|
+-------------+
|GL Management|
+-------------+